<div class="panel panel-default cms-panel-admin hidden">
    <div class="panel-heading">
        <form class="form-inline">
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="field" id="field-username" value="username"
                               autocomplete="off" checked/>
                        <i class="glyphicon glyphicon-user"></i>&nbsp;用户名
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="field" id="field-realname" value="realname"
                               autocomplete="off"/>
                        <i class="glyphicon glyphicon-credit-card"></i>&nbsp;真实姓名
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="field" id="field-email" value="email" autocomplete="off"/>
                        <i class="glyphicon glyphicon-envelope"></i>&nbsp;邮箱
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" autocomplete="off"/>
                <button type="button" class="btn btn-primary" id="admin-search-article-btn">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="panel-body table-responsive">

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>职务</th>
                <th>真实姓名</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {for start="0" end="10"}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {/for}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <ul class="pagination" data-page="admin">
            <li>
                <a href="javascript:void(0)">&laquo;</a>
            </li>
            <li class="active">
                <a href="javascript:void(0)">1</a>
            </li>
            <li>
                <a href="javascript:void(0)">2</a>
            </li>
            <li>
                <a href="javascript:void(0)">3</a>
            </li>
            <li>
                <a href="javascript:void(0)">4</a>
            </li>
            <li>
                <a href="javascript:void(0)">5</a>
            </li>
            <li>
                <a href="javascript:void(0)">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
