<div class="row article-commend">
    <div class="page-header">
        <h3 style="padding-left: 10px;">相关推荐&nbsp;
            <small>RELATED ARTICLE</small>
        </h3>
    </div>
    <div class="col-md-3 col-sm-6 hidden">
        <a href="/article/{$article['id']}">
            <div class="thumbnail">
                <img class="img-responsive hidden-xs" src="{$article['image']}"/>
                <div class="caption">
                    <h3>{$article['title']}</h3>
                    <p class="visible-xs">{$article['abstract']}</p>
                </div>
            </div>
        </a>
    </div>
</div>
